.view-mode--inactive {
  .react-resizable-handle,
  .add-row-panel-hint,
  .dash-row-menu-container,
  .navbar-buttons--actions,
  .panel-info-corner--info,
  .panel-info-corner--links {
    display: none;
  }
}

.view-mode--tv {
  @extend .view-mode--inactive;

  .page-toolbar {
    padding-left: $side-menu-width;


    &--fullscreen {
      padding-left: $space-md;
    }
  }
}

.view-mode--kiosk {
  @extend .view-mode--tv;

  .sidemenu,
  .page-toolbar,
  .navbar-page-btn,
  .navbar-buttons--actions,
  .navbar-buttons--tv {
    display: none;
  }

  .submenu-item.gf-form-inline.ng-hide {
    display: none !important;
  }
}

.submenu-item.gf-form-inline.ng-hide {
  display: flex !important;
}

.submenu-item.gf-form-inline.ng-hide.var-device_id {
  display: none !important;
}

@include media-breakpoint-down(sm) {
  div.page-toolbar {
    padding-left: 53px;

    &--fullscreen {
      padding-left: $space-md;
    }
  }
}
